fastapi
uvicorn
pydantic
sqlalchemy
psycopg2-binary
pandas
numpy
scikit-learn
xgboost
torch
shap
networkx
pymc
mlflow
joblib
kagglehub
python-multipart
python-jose[cryptography]
passlib[bcrypt]
requests
python-dotenv
aiohttp
kafka-python
jinja2
openai
plotly
matplotlib
seaborn
openpyxl
pyarrow
